@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html{
    margin: 0%;
    padding: 0;
  }
  
  
  body{
    background-color: black;
    width: 100vw;
    height:100vh;
    
  
  }
#bg{
    background-color: black;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
  }


#center-container { 
    background: none;
    
   
    
   
   
    
}

.container3 {
    background:black;
position: relative;
width: 400px;
height: fit-content;



display: inline-block;

padding: 0 40px; 
cursor: pointer;
overflow:hidden;
 



}

.text {

font-size: 20px;
text-transform: uppercase;
font-weight: 1; position: relative;
color:black;


}

.text::before {

content: "You failed to put the right password, you fall into the basement.there is no light and need to find the key to leave the room.Hover around the page to find the key";
height: fit-content;
position: absolute;
color: #0bb605;;
width: 0; 
overflow: hidden;

transition: 0.6s;

}

.container3::before {

content:"";

width: 0%; height: 100%;

position: absolute; 

background-size: cover;



transition: 0.6s;

}

.container3:hover .text::before,

.container3:hover::before 
{
     width: 100%;
}
#typing-text
{ 
   
  font-family: 'VT323', monospace;
 
    font-size: 60px;
    font-style:oblique;
    color: red;
    overflow: hidden;
    height: 80px;
    text-align: center;
    width:100%;
    
   
   

    
  
   
 }
 #typing-text::after {
    content: "BASEMENT"; 
    
    animation: typing 1s steps(30, end) ;
    display: inline-block;
    color: #0bee03;
    opacity: 100%;
    background-color: none;
    border: solid 5px  #0bee03;
    border-bottom: solid 5px  #0bee03;
    align-self:baseline;
    
    width:100%;
    
   

  }
@keyframes typing {
    from { width: 0;opacity: 0%; }
    to { width: 100%; opacity: 100%;} 
}
#caption{
    color:#0bb605;
    justify-self: center;
    
    
   
}
#quit{
    position: absolute;
    right: 0%;
    color: #0bb605;
    width: 120px;
    border-width: 2px;
    border-radius: 4px;
    border-color: #0bb605;
    background: none;
    justify-self: right;
    align-self: baseline;
    

}

#sidebar1
{   
    width: 120px;
    height: 60px;
    background-color:black;
   
    
    position: absolute;
    border:solid;
    border-width: 0.3px;
    
   align-self: baseline;
   justify-self: left;
   

    
    
}




@keyframes slide {
    100%{left: 150px;}
}
#key{
    width: 60px;
    height: 40px;
    align-self: baseline;
    background: none;
    position: absolute;
    color: none;
    border: none;
    
    

}
#key:hover{
    border: solid;
    border-color: #0bb605;;
    border-width: 0.3px;
    
}
::-webkit-scrollbar {
    display: none;
  }
  
  @media screen and (max-width:1000px)and(min-width:400px) {
    #center-container{
        align-self: baseline;
    }
    
  }


