@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
#body{
 width: 100dvw;
 height: 100dvh;
 display: flex;
 
 border-color: crimson;
 border-width: 2px;
 background-size: cover;
 background-color: black;
 font-family: 'VT323', monospace;
 align-items: center;
 justify-content: center;
 flex-direction: column;
gap: 0px;

}
#box{
    background: none;
    width: fit-content;
    height: 64px ;
    align-self: center;

  
   
/*   
    transform: translate(-50%,-50%); */
    
    
    
    
}
#code{ 
    background:none;
    border-width: 5px;
    border-color: #0bee03;
    color: #0bee03;
    width: 164px;
    height: 40px;
  



}
#break
{ 
    background:none;
    border-width: 5px;
    border-color: #0bee03;
    color: #0bee03;
    width: 164px;
    height: 40px;
  


}
#typing-text
{  
    position: absolute;
    top: 0%;
    align-self: baseline;
   
  font-family: 'VT323', monospace;
 
    font-size: 60px;
    font-style:oblique;
    color: red;
    overflow: hidden;
    height: 80px;
    text-align: center;
    width:100%;
    
   
   

    
  
   
 }
 #typing-text::after {
    content: " Enterance"; 
    
    animation: typing 1s steps(20, end) ;
    display: inline-block;
    color: #0bee03;
    opacity: 100%;
    background-color: none;
    border: solid 5px  #0bee03;
    border-bottom: solid 5px  #0bee03;;
    
    width:100%;
    
   

  }
  @keyframes typing {
    from { width: 0;opacity: 0%; }
    to { width: 100%; opacity: 100%;} 
}
#para{
  
    width:60%;
    padding :10px;
    
    align-items: center;
    text-align: justify;
    color:#0bee03;
    font-size: 40px;
    border:solid #0bee03 5px;

}
::-webkit-scrollbar {
    display: none;
  }
  