@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html{
    margin: 0%;
    padding: 0;
  }
#body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;

    gap: 64px;
    flex-direction: row;
    justify-content: center;
    
    font-family: 'VT323', monospace;
    overflow:scroll;
    flex-wrap: wrap;
   
    
    
    
    
}
#keypad{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 30% 30% 30%;
    width: 25%;
    height: 40%;
    text-align: center;
    
    font-family: 'VT323', monospace;
    flex-direction: column;

}
#typing-text
{ 
   
  font-family: 'VT323', monospace;
 
    font-size: 60px;
    font-style:oblique;
    color: red;
    overflow: hidden;
    height: 80px;
    text-align: center;
    width:100%;

    
   
   

    
  
   
 }
 #typing-text::after {
    content: " ENTER THE CODE"; 
    
    animation: typing 1s steps(20, end) ;
    display: inline-block;
    color: #0bee03;
    opacity: 100%;
    background-color: none;
    border: solid 5px  #0bee03;
    border-bottom: solid 5px  #0bee03;;
    
    width:100%;
    
   

  }
@keyframes typing {
    from { width: 0;opacity: 0%; }
    to { width: 100%; opacity: 100%;} 
}
 

/* #pad{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px;
  width: 360px;
    height: 480px;
    top: 20%;
    left: 60%;
    border-width: 10px;
    border-color: blue;
    background-color: red;
    

} */



#no0{
    background-color: black;
    color: #0bee03;
    border-width: 5px;
    
    border: #0bee03 solid 5px;
   
}

#no1{
    background-color: black;
    color: #0bee03;
    border-width: 5px;
    border: #0bee03 solid 5px;
}
   


#no2{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}
#no3{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}
#no4{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}
#no5{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}
#no6{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}
#no7{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}
#no8{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}
#no9{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}
#no10{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}#no11{
    background-color: black;
    color: #0bee03;
    border-width: 5px;    
    border: #0bee03 solid 5px;
}
   
#textbox{

    height: 40%;
    width: 40%;
   padding-right: 8px;
   padding: 10px;
    
    align-self: baseline;

   
    flex-direction: row;
   
    
 
 
    font-size: 100%;
    text-align: justify;
    overflow-y:scroll;
    overflow-x: hidden;
 
    border: #0bee03 solid 5px;

    
}
#instr{
    
    
    font-size:20px;

    text-align: justify;
    font-family: 'VT323', monospace;
  

    color: #0bb605;
    
    
}
#textbox::-webkit-scrollbar {
    width: 15px; 
    


  }
  
  #textbox::-webkit-scrollbar-track {
    
    box-shadow: inset 10px 0 20px #0bb605; 
    border-radius: 10px;
   
  }
   
 
  #textbox ::-webkit-scrollbar-thumb {
    background: #0bb605; 
    border-radius: 10px;
  }
  
  
  #textbox::-webkit-scrollbar-thumb:hover {
    background:#078802; 
  }
  #textbox::-webkit-scrollbar-corner{
   display: none;
  }
  #textbox  ::-webkit-scrollbar-button{
    background:none;
  }

@media screen and (max-width:1080px) and  (min-width:400px){
  #body{ 
    flex-direction: column;
    flex-wrap: nowrap;
   
    align-items: center;
    

  }
  #typing-text{
    align-self:center;
  }
    #textbox{
        width: 50%;
        height: fit-content;
        align-self: center;
        overflow: visible;
   

       
    }
    #keypad{
        width: 50%;
        height: 460px;
    }
   
    
}



